<h3>参会名单</h3>
<table class='table table-bordered table-striped'>
	<thead>
		<tr class='success'>
			<th>姓名</th>
			<th>工作地</th>
			<th>毕业年级</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>洪敏纯</td>
			<td>布里斯班, Australia</td>
			<td>83</td>
		</tr>
		<tr>
			<td>吴镔</td>
			<td>卡尔加里, Canada</td>
			<td>85</td>
		</tr>
		<tr>
			<td>于昕</td>
			<td>温哥华, Canada</td>
			<td></td>
		</tr>
		<tr>
			<td>杨宝德</td>
			<td>硅谷, USA</td>
			<td>86</td>
		</tr>
		<tr>
			<td>沈慧</td>
			<td>温哥华, Canada</td>
			<td>91</td>
		</tr>
		<tr>
			<td>安丽云</td>
			<td>硅谷, USA</td>
			<td>95</td>
		</tr>
		<tr>
			<td>张勇涛</td>
			<td>Indiana, USA</td>
			<td>96</td>
		</tr>
		<tr>
			<td>陈珊琴</td>
			<td>Indiana, USA</td>
			<td>96</td>
		</tr>
		<tr>
			<td>刘臻</td>
			<td>Chicago, USA</td>
			<td></td>
		</tr>
		<tr>
			<td>周蔚文</td>
			<td>上海, 中国</td>
			<td></td>
		</tr>
		<tr>
			<td>刘敬霞</td>
			<td>路易斯安那, USA</td>
			<td>97</td>
		</tr>
		<tr>
			<td>王海英</td>
			<td>横滨, Japan</td>
			<td>98</td>
		</tr>
		<tr>
			<td>赵瑞军</td>
			<td>Minnesota, USA</td>
			<td>99</td>
		</tr>
		<tr>
			<td>马力</td>
			<td>清华大学数学系</td>
			<td>83</td>
		</tr>
		<tr>
			<td>由同顺</td>
			<td>南开大学</td>
			<td></td>
		</tr>
		<tr>
			<td>张阳</td>
			<td>南开大学</td>
			<td>84</td>
		</tr>
		<tr>
			<td>蔚喜军</td>
			<td>北京九所</td>
			<td>87</td>
		</tr>
		<tr>
			<td>吴克俭</td>
			<td>青岛海洋大学</td>
			<td>88</td>
		</tr>
		<tr>
			<td>谢伟松</td>
			<td>天津大学</td>
			<td>90</td>
		</tr>
		<tr>
			<td>魏强</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>曹天杰</td>
			<td>中国矿业大学计算机学院</td>
			<td>90</td>
		</tr>
		<tr>
			<td>杨韩雁</td>
			<td></td>
			<td>90</td>
		</tr>
		<tr>
			<td>秦树杰</td>
			<td>天津海军后勤学院</td>
			<td>91</td>
		</tr>
		<tr>
			<td>耿薇</td>
			<td>南开大学</td>
			<td></td>
		</tr>
		<tr>
			<td>王永宏</td>
			<td>北京大学光华学院</td>
			<td>92</td>
		</tr>
		<tr>
			<td>付春光</td>
			<td>北京住友软件</td>
			<td>93</td>
		</tr>
		<tr>
			<td>张强</td>
			<td>北京大学</td>
			<td></td>
		</tr>
		<tr>
			<td>王彩华</td>
			<td>天津师范大学</td>
			<td>96</td>
		</tr>
		<tr>
			<td>赵云凯</td>
			<td>深圳华为公司</td>
			<td>97</td>
		</tr>
		<tr>
			<td>赵宇波</td>
			<td>深圳先进创新发展研究院</td>
			<td>98</td>
		</tr>
		<tr>
			<td>孙思根</td>
			<td></td>
			<td>99</td>
		</tr>
		<tr>
			<td>赵志勇</td>
			<td>南开大学</td>
			<td></td>
		</tr>
		<tr>
			<td>曹松</td>
			<td>北京铁道科学研究院</td>
			<td>00</td>
		</tr>
		<tr>
			<td>张文博</td>
			<td>北京邮电大学</td>
			<td></td>
		</tr>
		<tr>
			<td>薛运华</td>
			<td>南开大学</td>
			<td>01</td>
		</tr>
		<tr>
			<td>夏银华</td>
			<td>中国科技大学</td>
			<td></td>
		</tr>
		<tr>
			<td>王鑫</td>
			<td>北京</td>
			<td></td>
		</tr>
		<tr>
			<td>叶东毅</td>
			<td>福州大学计算机系</td>
			<td></td>
		</tr>
	</tbody>
</table>