<table class='table table-bordered table-striped'>
	<thead>
		<tr class='success'>
			<th class='col-md-3 col-lg-3'>会议日程安排</th>
			<th class='col-md-3 col-lg-3'></th>
			<th class='col-md-3 col-lg-3'></th>
			<th class='col-md-3 col-lg-3'></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>日期</td>
			<td>时间</td>
			<td>事件</td>
			<td>地点</td>
		</tr>
		<tr>
			<td>8月7日下午</td>
			<td>4:00 - 10:00</td>
			<td>注册、报到、住宿安排</td>
			<td>宾馆</td>
		</tr>
		<tr>
			<td>8月8日上午</td>
			<td>8:30 - 9:00</td>
			<td>开幕式讲话、合影</td>
			<td>数学科学学院报告厅</td>
		</tr>
		<tr>
			<td></td>
			<td>9:00 - 9:20</td>
			<td>孙澈先生工作生活介绍</td>
			<td>数学科学学院报告厅</td>
		</tr>
		<tr>
			<td></td>
			<td>9:20 - 10:30</td>
			<td>学术报告会</td>
			<td>数学科学学院报告厅</td>
		</tr>
		<tr>
			<td></td>
			<td>10::30 - 10:50</td>
			<td>茶歇</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>10:50 - 12:20</td>
			<td>学术报告会</td>
			<td>数学科学学院报告厅</td>
		</tr>
		<tr>
			<td></td>
			<td>12:30 - 1:30</td>
			<td>午餐</td>
			<td>学校餐厅</td>
		</tr>
		<tr>
			<td>8月8日下午</td>
			<td>1:40 - 3:00</td>
			<td>学术报告会</td>
			<td>数学科学学院报告厅</td>
		</tr>
		<tr>
			<td></td>
			<td>3:00 - 3:20</td>
			<td>闭幕式</td>
			<td>数学科学学院</td>
		</tr>
		<tr>
			<td></td>
			<td>3:20 - 5:30</td>
			<td>茶话会</td>
			<td>数学科学学院报告厅</td>
		</tr>
		<tr>
			<td>8月8日上午</td>
			<td>5:30 - 9:00</td>
			<td>晚宴</td>
			<td>酒店</td>
		</tr>
		<tr>
			<td>8月9日上午</td>
			<td>9:00 - 11:00</td>
			<td>参观母校、留影</td>
			<td>学校</td>
		</tr>
	</tbody>
</table>